{% extends 'base_simple.html' %}
{% block title %}{{ _('No gift ideas?') }}{% endblock %}
{% block page_title %}{{ _('No gift ideas?') }}{% endblock %}

{% block content %}
<div class="py-8 text-center">
    <h1 class="mb-4 text-2xl font-semibold text-[rgb(var(--text))]">{{ _('This person lacks imagination, help them!') }}</h1>
    <img class="mx-auto my-5 block h-auto max-w-full" src="{{ url_for('static', filename='icons/nope.jpg') }}" alt="{{ _('No gift ideas image') }}">
    <button type="button" class="btn-primary mt-4" onclick="location.href='{{ url_for('add2') }}'">
        {{ _('Add ideas') }}
    </button>
</div>
{% endblock %}
